<section class="bg-primary" id="booking">
    <div class="container">
        <div class="row">
            <div class="igms-direct-booking-widget" id="directBooking1696797720472"
                data-listing-id="a367b429-9284-4d32-994d-9aa346b7e0de" data-widget-color="#8C52FF"
                data-text-check-availability="Check Availability" data-text-book-now="Book Now" data-preview="true">
            </div>
            <script src="//www.igms.com/app/widgets/direct-booking/widget.js?v=60205"
                type="application/javascript"></script>

        </div>
    </div>
    </div>
</section>