<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#KitchenAndDining" class="portfolio-box">
                    <img src="img/property/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Kitchen and Dining
                            </div>
                            <div class="project-name">
                                Full kitchen with all necessary utensils and a table to seat 6 comfortably.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#LivingRoom" class="portfolio-box">
                    <img src="img/property/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Living Room
                            </div>
                            <div class="project-name">
                                Cut the chill in the air by turning on the fireplace before settling down for bed!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#MasterBedroom" class="portfolio-box">
                    <img src="img/property/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bedroom
                            </div>
                            <div class="project-name">
                                The master bedroom has a cozy king size bed for a great nights rest!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Bathroom" class="portfolio-box">
                    <img src="img/property/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bathroom
                            </div>
                            <div class="project-name">
                                The bathroom was updated in June of 2023.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#MountainViews" class="portfolio-box">
                    <img src="img/property/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mountain Views
                            </div>
                            <div class="project-name">
                                Enjoy the beautiful mountain views and the surise while sipping on your morning coffee!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#RecRoom" class="portfolio-box">
                    <img src="img/property/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Recreation Room
                            </div>
                            <div class="project-name">
                                Watch the game on the new 70" TV while you shoot some pool!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
