<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}
  {% include header.html %}
  {% include booking.html %}
  <!-- {% include call-to-action.html %}
  {% include services.html %} -->
  {% include portfolio_grid.html %}
  {% include portfolio.html %}
  <!-- {% include aside.html %} -->
  {% include contact.html %}
  <!-- {% include contactnew.html %} -->
    <!-- {% include footer.html %} -->
  {% include scripts.html %}
</body>

</html>